.simulator-component {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 360px;

    form {
        width: 100%;
        display: block;

        mat-form-field {
            display: block;
            width: 100%;
        }
    }

    mat-slider {
        width: 300px;
    }
}

.button-row {
    display: flex;

    button {
        margin-right: 10px;
    }
}