<div class="simulator-component">
    <form
        class="simulator-component-form"
        [formGroup]="simulatorFormGroup"
        (ngSubmit)="onSubmitSimulation()">
        <mat-form-field>
            <input
                matInput
                currencyMask
                [(ngModel)]="totalValue"
                placeholder="De quanto voce precisa?"
                name="totalValue"
                id="totalValue"
                formControlName="totalValue"
                type="tel">
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                placeholder="Qual o seu nome completo"
                name="name"
                id="name"
                formControlName="name">
        </mat-form-field>
        
        <mat-form-field>
            <input 
                matInput 
                placeholder="Qual o seu email" 
                name="email" 
                id="email" 
                formControlName="email">
        </mat-form-field>
        
        <button
            type="button"
            mat-button
            [disabled]="!simulatorFormGroup.valid"
            (click)="onCalculatingInstallments()"
            *ngIf="!installmentsEnabled">
            Continuar
        </button>

        <p *ngIf="installmentsLoading">Carregando...</p>

        <div *ngIf="installmentsEnabled && !installmentsLoading">
            <h4>Você  pretende pagar em quantas parcelas?</h4>

            <mat-slider
                name="installmentsValue"
                id="installmentsValue" 
                formControlName="installmentsValue"
                [invert]="invert"
                [max]="max"
                [min]="min"
                [step]="step"
                [thumbLabel]="thumbLabel"
                [displayWith]="formatLabel"
                [vertical]="vertical"
                [(value)]="installmentsValue">
            </mat-slider>

            <p>Valor total a ser pago: {{getInstallment(installmentsValue).totalValue | currency:'BRL'}}</p>
            <p>{{installmentsValue}}x parcelas de {{getInstallment(installmentsValue).installmentValue | currency:'BRL'}}</p>

            <div class="button-row">
                <button type="button" mat-button mat-raised-button (click)="recalcInstallments()">Recalcular</button>
                <button type="submit" mat-button mat-raised-button color="primary">Continuar</button>
            </div>
        </div>
    </form>
  </div>
  