.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  padding: 0;

  h1 {
    margin: 20px 0 0 20px;
  }

  button {
    margin: 0 20px 0 0;
  }
}
