<div class="contract-component">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="contract-component-form">
        <ng-template matStepLabel>Primeiro passo</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nome completo" name="name" id="name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nacionalidade" name="nationality" id="nationality" formControlName="nationality" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select [(value)]="state" formControlName="state" required>
            <mat-option value="SP">SP</mat-option>
            <mat-option value="RJ">RJ</mat-option>
            <mat-option value="BA">BA</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button matStepperNext>Continuar</button>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Segundo Passo</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Terceiro passo</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
    <router-outlet></router-outlet>
  </mat-horizontal-stepper>
</div>
